.form-group {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;

    // justify-content: space-between;

    label {
        width: 50%;
    }

    i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
        margin-right: 10px;
    }

}