<div class="row">
    <div class="col-md-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Đặt Chỉ <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div id="searchBoxOrder"></div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div id="searchBoxLine"></div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div id="searchBoxMH"></div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div id="searchBoxMauMH"></div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div id="txtSL"></div>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <div id="btn-datChi"></div>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <div id="exportButton"></div>
                    </div>

                    <div id="tabPanel" style="padding:10px 10px;"></div>

                    <!-- <div id="GridDatChi"></div> -->

                </div>


            </div>
        </div>
    </div>
</div>


<script src="/javascripts/kho/khoDatChijs.js"></script>