<div class="row">
    <div class="col-md-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Tính Chỉ Theo Đơn Hàng <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div id="searchBoxNam"></div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div id="searchBoxKH"></div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div id="btnDatChiTest"></div>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <div id="btnDatChi"></div>
                    </div>
                
                    <div class="col-md-1 col-sm-1">
                        <div id="exportButton"></div>
                    </div>

                    <div id="tabPanel" style="padding:10px 10px;"></div>



                </div>


            </div>
        </div>
    </div>
</div>

<script  src="/javascripts/StaticClass/generaljs.js"></script>
<script  src="/javascripts/kho/KhoOrderTinhChiGridViewDevjsV2.js"></script>

<!-- old version -->
<!-- KhoOrderTinhChiGridViewDevjsV2 -->