<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Đơn Hàng</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" id="xcontentid">
                <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                            role="tab" aria-controls="home" aria-selected="true">Đơn Hàng Nháp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                            role="tab" aria-controls="profile" aria-selected="false">Đơn Hàng Chính Thức</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel"
                        aria-labelledby="home-tab">
                        <div id="GridOrderDraft"></div>
                        <div class="loadpanel"></div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel"
                        aria-labelledby="profile-tab">
                        <div id="GridOrder"></div>
                        <div class="loadpanelCT"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tooltipUpload">Nhập File Excel</div>

 <!-- Modal -->
 <div class="modal fade" id="modalAddUpdate" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Cập Nhật thông tin Order</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="txtClassification" >Classification</label>
                    <div class="col-md-9 col-sm-9 ">
                      <div id="txtClassification"></div>
                     
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="txtOrderNo" >OrderNo</label>
                    <div class="col-md-9 col-sm-9 ">
                        <div id="txtOrderNo"></div>
                      
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="txtUnitNo" >UnitNo</label>
                    <div class="col-md-9 col-sm-9 ">
                       <div id="txtUnitNo"></div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="txtStyle" >Style</label>
                    <div class="col-md-9 col-sm-9 ">
                      <div id="txtStyle"></div>
                     
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="txtCup" >Cup</label>
                    <div class="col-md-9 col-sm-9 ">
                      <div id="txtCup"></div>
                     
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="txtSize" >Size</label>
                    <div class="col-md-9 col-sm-9 ">
                      <div id="txtSize"></div>
                     
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="txtColor" >Color</label>
                    <div class="col-md-9 col-sm-9 ">
                      <div id="txtColor"></div>
                     
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="iOrderQty" >OrderQty</label>
                    <div class="col-md-9 col-sm-9 ">
                      <div id="iOrderQty"></div>
                   
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="txtNote" >Note</label>
                    <div class="col-md-9 col-sm-9 ">
                      <div id="txtNote"></div>
                     
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="txtMY" >MY</label>
                    <div class="col-md-9 col-sm-9 ">
                      <div id="txtMY"></div>
                    </div>
                  </div>



                  <!-- <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="iHESOBETA" >Hệ số Beta</label>
                    <div class="col-md-9 col-sm-9 ">
                      <div id="iHESOBETA"></div>
                     
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 " for="txtCONGTHUCTINHCHI" >Công Thức Tính Chỉ</label>
                    <div class="col-md-9 col-sm-9 ">
                        <div id="txtCONGTHUCTINHCHI"></div>
                     
                    </div>
                  </div> -->

             
    
                <div class="modal-footer">
                    <button type="submit" name="submitInsert" value="submitInsert" class="btn btn-primary" id="btnSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
         

            </div>
        </div>
    </div>
</div>
<!-- modal -->

<script src="/javascripts/kho/Orderjs.js"></script>

    