<div class="row">
    <div class="col-md-12 col-sm-12">
     
        <img id="img_ID" src="/images/kho/QTQLNVLImage_18072024.png" width="100%" height="800px" alt="Planets" usemap="#map" >
                <!-- old Version -->
                <!-- QTQLNVLImage_17052024 -->
                <!-- QTQLNVLImage_20042024 -->
                <!-- QTQLNVLImage_08012023 -->
                <!-- QTQLNVLImage_18012023 -->
              
                <map id="map_ID" name="map">

                    <area shape="rect" coords="30,60,250,80" href="/kho/TinhChiChuyenMay" alt="TinhChiChuyenMay">
                    <area shape="rect" coords="30,105,250,120" href="/kho/TinhChiDayVai" alt="TinhChiDayVai">
                    <area shape="rect" coords="30,135,250,150" href="/kho/QTDatChi" alt="QTDatChi">
                    <area shape="rect" coords="30,160,250,195" href="/kho/TinhChiLai" alt="TinhChiLai">
                    <area shape="rect" coords="30,210,250,250" href="/kho/CapPhatChi" alt="CapPhatChi">
                    <area shape="rect" coords="30,265,250,300" href="/kho/QuanLyTonKhoChi" alt="QuanLyTonKhoChi">


                    <!-- lien lac nha cung cap -->
                    <area shape="rect" coords="310,155,480,160" href="/kho/LIENLACETDETAQTY" alt="LIENLACETDETAQTY">
                    <area shape="rect" coords="310,165,480,170" href="/kho/LienLacThieuDu" alt="LienLacThieuDu">
                    <area shape="rect" coords="310,175,480,180" href="/kho/LIENLACLOINVL" alt="LIENLACLOINVL">
                    <area shape="rect" coords="310,185,480,195" href="/kho/LIENLACDIEUCHINHNGAYGUINVL" alt="LIENLACDIEUCHINHNGAYGUINVL">

                    <area shape="rect" coords="880,80,1010,250" href="/kho/QTQLNVLB3" alt="QTQLNVLB3">
                    <area shape="rect" coords="1080,120,1220,200" href="/kho/QTQLNVLB4" alt="QTQLNVLB4">
                    
                    <area shape="rect" coords="1300,150,1600,165" href="/kho/QTQLNVL_B5_NL" alt="QTQLNVL_B5_NL">
                    <area shape="rect" coords="1300,170,1600,180" href="/kho/SoanHangPhuLieu" alt="SoanHangPhuLieu">
                    <area shape="rect" coords="1340,190,1360,195" href="/kho/QTQLNVL_B5_QDGNL" alt="QTQLNVL_B5_QDGNL">
                    <area shape="rect" coords="1365,190,1385,195" href="/kho/QTQLNVL_B5_QDGPL" alt="QTQLNVL_B5_QDGPL">
                    

                    <area shape="rect" coords="880,580,1020,650" href="/kho/QTQLNVLB8_1" alt="QTQLNVLB8_1">

                    <!-- <area shape="rect" coords="500,500,640,630" href="/kho/QTQLNVLB10" alt="QTQLNVLB10"> -->
                    <area shape="rect" coords="300,535,420,555" href="/kho/QTQLNVL_B11_2_QLNVLDH" alt="QTQLNVL_B11_2_QLNVLDH">
                    <area shape="rect" coords="300,565,420,585" href="/kho/QTQLNVL_B11_2_QLCMDH" alt="QTQLNVL_B11_2_QLCMDH">


               
                </map>

    </div>
</div>
