<div class="row">
    <div class="col-md-12 col-sm-12">
     
        <img id="img_ID" src="/images/kho/QTQLNVLImage_14122024.png" width="100%" height="800px" alt="Planets" usemap="#map" >
                <!-- old Version -->
                <!-- QTQLNVLImage_05122024 -->
                <!-- QTQLNVLImage_18112024 -->
                <!-- QTQLNVLImage_08112024 -->
                <!-- QTQLNVLImage_30082024 -->
                <!-- QTQLNVLImage_15082024 -->
                <!-- QTQLNVLImage_30072024 -->
                <!-- QTQLNVLImage_18072024 -->
                <!-- QTQLNVLImage_17052024 -->
                <!-- QTQLNVLImage_20042024 -->
                <!-- QTQLNVLImage_08012023 -->
                <!-- QTQLNVLImage_18012023 -->
              
                <map id="map_ID" name="map">

                    <area shape="rect" coords="30,60,200,100" href="/kho/TinhChiChuyenMay" alt="TinhChiChuyenMay">
                    <area shape="rect" coords="30,110,200,150" href="/kho/TinhChiDayVai" alt="TinhChiDayVai">
                    <area shape="rect" coords="30,160,200,180" href="/kho/QTDatChi" alt="QTDatChi">
                    <area shape="rect" coords="30,190,200,240" href="/kho/TinhChiLai" alt="TinhChiLai">
                    <area shape="rect" coords="30,290,200,340" href="/kho/CapPhatChi" alt="CapPhatChi">
                    <area shape="rect" coords="30,370,200,400" href="/kho/QuanLyTonKhoChi" alt="QuanLyTonKhoChi">

                    <area shape="rect" coords="30,500,200,520" href="/kho/DNPLDNCCTNTL_1" alt="DNPLDNCCTNTL_1">
                    <area shape="rect" coords="30,525,200,555" href="/kho/DNPLDNCCTNTL_2" alt="DNPLDNCCTNTL_2">
                    <area shape="rect" coords="30,560,200,580" href="/kho/DNPLDNCCTNTL_3" alt="DNPLDNCCTNTL_3">
                    <area shape="rect" coords="30,585,200,620" href="/kho/DNPLDNCCTNTL_4" alt="DNPLDNCCTNTL_4">
                    <area shape="rect" coords="30,625,200,640" href="/kho/DNPLDNCCTNTL_5" alt="DNPLDNCCTNTL_5">




                    <!-- lien lac nha cung cap -->
                    <area shape="rect" coords="280,180,420,200" href="/kho/LIENLACETDETAQTY" alt="LIENLACETDETAQTY">
                    <area shape="rect" coords="280,205,420,220" href="/kho/LienLacThieuDu" alt="LienLacThieuDu">
                    <area shape="rect" coords="280,225,420,240" href="/kho/LIENLACLOINVL" alt="LIENLACLOINVL">
                    <area shape="rect" coords="280,245,420,260" href="/kho/LIENLACDIEUCHINHNGAYGUINVL" alt="LIENLACDIEUCHINHNGAYGUINVL">

                    <area shape="rect" coords="260,430,420,450" href="/kho/DatThemLai_NVL" alt="DatThemLai_NVL">
                    <area shape="rect" coords="260,470,420,490" href="/kho/PhaHanhDebitNote" alt="PhaHanhDebitNote">

                    <area shape="rect" coords="630,130,770,290" href="/kho/QTQLNVL_B2" alt="QTQLNVL_B2">

                    <area shape="rect" coords="800,80,950,330" href="/kho/QTQLNVL_XNLNVNHDSCSVPL" alt="QTQLNVL_XNLNVNHDSCSVPL">

                    <area shape="rect" coords="1000,160,1130,240" href="/kho/QTQLNVL_ITQRKCCTTPLVDTVCV" alt="QTQLNVL_ITQRKCCTTPLVDTVCV">
                    <area shape="rect" coords="1000,250,1130,300" href="/kho/QTQLNVL_ITQRKDSS" alt="QTQLNVL_ITQRKDSS">
                    <!-- <area shape="rect" coords="1080,120,1220,200" href="/kho/QTQLNVLB4" alt="QTQLNVLB4"> -->

                    <!-- B7=> B4 cũ -->
                    <!-- <area shape="rect" coords="1490,155,1600,270" href="/kho/QTQLNVLB7" alt="QTQLNVLB7">  -->
                    
                    <!-- <area shape="rect" coords="1300,150,1600,165" href="/kho/QTQLNVL_B5_NL" alt="QTQLNVL_B5_NL"> -->

                    <area shape="rect" coords="1650,180,1770,200" href="/kho/QTQLNVL_B8_NL" alt="QTQLNVL_B8_NL"> 
                    <area shape="rect" coords="1650,210,1770,230" href="/kho/QTQLNVL_B8_QDGNL" alt="QTQLNVL_B8_QDGNL"> 
                    <area shape="rect" coords="1650,250,1770,270" href="/kho/QTQLNVL_B8_QDGBNL" alt="QTQLNVL_B8_QDGBNL"> 

                    <!-- <area shape="rect" coords="1300,170,1600,180" href="/kho/SoanHangPhuLieu" alt="SoanHangPhuLieu"> -->
                    <!-- <area shape="rect" coords="1340,190,1360,195" href="/kho/QTQLNVL_B5_QDGNL" alt="QTQLNVL_B5_QDGNL"> -->
                    <!-- <area shape="rect" coords="1365,190,1385,195" href="/kho/QTQLNVL_B5_QDGPL" alt="QTQLNVL_B5_QDGPL"> -->
                    

                    <!-- <area shape="rect" coords="880,580,1020,650" href="/kho/QTQLNVLB8_1" alt="QTQLNVLB8_1"> -->

                    <!-- <area shape="rect" coords="500,500,640,630" href="/kho/QTQLNVLB10" alt="QTQLNVLB10"> -->
                    <!-- <area shape="rect" coords="300,535,420,555" href="/kho/QTQLNVL_B11_2_QLNVLDH" alt="QTQLNVL_B11_2_QLNVLDH"> -->
                    <!-- <area shape="rect" coords="300,565,420,585" href="/kho/QTQLNVL_B11_2_QLCMDH" alt="QTQLNVL_B11_2_QLCMDH"> -->
                    <area shape="rect" coords="1500,420,1600,455" href="/kho/QTQLNVL_B10_QMQRCV" alt="QTQLNVL_B10_QMQRCV">

                    <area shape="rect" coords="1500,500,1600,520" href="/kho/QTQLNVL_KTCLVQMQRCV_QDKTMC" alt="QTQLNVL_KTCLVQMQRCV_QDKTMC">

                    <!-- B13 => B11_2 -->
                    <area shape="rect" coords="1020,500,1130,510" href="/kho/QTQLNVL_B13_NVLD" alt="QTQLNVL_B13_NVLD">
                    <area shape="rect" coords="1020,515,1130,525" href="/kho/QTQLNVL_B13_CMD" alt="QTQLNVL_B13_CMD">

                    <area shape="rect" coords="810,465,950,485" href="/kho/QTQLNVL_B14_CMD" alt="QTQLNVL_B14_CMD">

                    <area shape="rect" coords="1160,150,1270,280" href="/kho/QTQLNVL_B5" alt="QTQLNVL_B5">

                    <area shape="rect" coords="1300,80,1430,330" href="/kho/QTQLNVL_B6" alt="QTQLNVL_B6">

                    <area shape="rect" coords="1470,150,1600,280" href="/kho/QTQLNVL_B7" alt="QTQLNVL_B7">


                    <area shape="rect" coords="1650,320,1800,570" href="/kho/QTQLNVL_B9" alt="QTQLNVL_B9"> 

                    <area shape="rect" coords="1160,380,1270,520" href="/kho/QTQLNVL_B12" alt="QTQLNVL_B12">









               
                </map>

    </div>
</div>
