
<link rel="stylesheet" href="/scss/changePassword.css">

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Thay đổi mật khẩu <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <div class="form-label-left input_mask">
                    <div class="form-group">
                        <label for="txtUserName">Tài Khoản:</label>
                        <input type="text" class="form-control" name="txtUserName" id="txtUserName" value="<%- userId %>">
                        <!-- <input type="hidden" id="hidID" value="0" /> -->
                    </div>
                    <div class="form-group">
                        
                            <label for="txtcurrentpassword">Mật Khẩu Hiện Tại:</label>
                            <input type="password" class="form-control" name="txtcurrentpassword" id="txtcurrentpassword" required="">
                            <i class="fa fa-eye" id="btnShowPassCurrent"></i>
                        <!-- <input type="hidden" id="hidID" value="0" /> -->
                    </div>
                    <div class="form-group">
                        <label for="txtnewpassword">Mật Khẩu mới:( > 8 kí tự)</label>
                        <input type="password" class="form-control" name="txtnewpassword" id="txtnewpassword" required="">
                        <i class="fa fa-eye" id="btnShowPassNew"></i>
                    </div>
                    <div class="form-group">
                        <label for="txtConfirmPassword">Xác nhận Mật Khẩu mới:</label>
                        <input type="password" class="form-control" name="txtConfirmPassword" id="txtConfirmPassword">
                        <i class="fa fa-eye" id="btnShowPassConfirm"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
  
           <!-- footer content -->
    <footer>
        <div class="nav_menu">
            <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                    <li style="padding-right: 15px; float: right; margin-top: 20px;">
                        <button type="submit" name="bsubmit" value="submitSave" class="btn btn-primary" id="btnSaveId">Save</button>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    <!-- /footer content -->
 
</div>
<script src="/javascripts/changepasswordjs.js"></script>