<div class="x_content" id="xcontentid">
        
    <img id="img_ID" src="/images/KiemPham/QTKPImage.png" width="100%" height="600px" alt="Planets" usemap="#map" >
    <map id="map_ID" name="map">
        <area shape="rect" coords="190,230,310,310" href="/KiemPham/KIEMMAUSENPATSU" alt="KIEMMAUSENPATSU">
        <!-- LAM_HUONG_DAN_KIEM -->
        <area shape="rect" coords="330,230,440,310" href="/KiemPham/LAM_HUONG_DAN_KIEM" alt="LAM_HUONG_DAN_KIEM">
        <!-- GIAI_THICH_BANG_HUONG_DAN_KIEM_TRA -->
        <area shape="rect" coords="470,230,580,310" href="/KiemPham/GIAI_THICH_BANG_HUONG_DAN_KIEM_TRA" alt="GIAI_THICH_BANG_HUONG_DAN_KIEM_TRA">
        <!-- LEADER_KIEM_TRA -->
        <area shape="rect" coords="600,230,720,310" href="/KiemPham/LEADER_KIEM_TRA" alt="LEADER_KIEM_TRA">
        <!-- CONG_NHAN_KIEM_SX_THAT -->
        <area shape="rect" coords="740,230,870,310" href="/KiemPham/CONG_NHAN_KIEM_SX_THAT" alt="CONG_NHAN_KIEM_SX_THAT">
        <!-- GIAOHANG -->
        <area shape="rect" coords="890,230,1000,310" href="/KiemPham/GIAOHANG" alt="GIAOHANG">
        <!-- QD_XLSP_KHONG_PHU_HOP -->
        <area shape="rect" coords="760,330,850,380" href="/KiemPham/QD_XLSP_KHONG_PHU_HOP" alt="QD_XLSP_KHONG_PHU_HOP">
    </map>

</div>