<div class="row">
    <div class="col-md-12 col-sm-12">
        
        <img id="img_ID" src="/images/cat/SDQTCatLinning_09032023.png" width="100%" height="800px" alt="Planets" usemap="#map" >
        <map id="map_ID" name="map">
            <!-- Cat Linning khoi dong may -->
            <area shape="rect" coords="30,70,130,180" href="/Cat/CatLinningKhoiDongMay" alt="CatLinningKhoiDongMay">
            <!-- CatLinningChuanBiVai -->
            <area shape="rect" coords="170,70,270,180" href="/Cat/CatLinningChuanBiVai" alt="CatLinningChuanBiVai">
            <!-- CatLinningCHCGeminiCad -->
            <area shape="rect" coords="340,140,400,145" href="/Cat/CatLinningCHCGeminiCad" alt="CatLinningCHCGeminiCad">
            <!-- CatLinningCHCWacoalCad -->
            <area shape="rect" coords="340,150,400,160" href="/Cat/CatLinningCHCWacoalCad" alt="CatLinningCHCWacoalCad">

            <area shape="rect" coords="500,70,600,180" href="/Cat/CatLinningCat" alt="CatLinningCat">
              <!-- BocTapPhanMauCatLinning -->
              <area shape="rect" coords="640,70,740,180" href="/Cat/BocTapPhanMauCatLinning" alt="BocTapPhanMauCatLinning">

              <area shape="rect" coords="780,70,880,180" href="/Cat/B6KiemHangChiaSoLuongGiaoHang" alt="B6KiemHangChiaSoLuongGiaoHang">

              <area shape="rect" coords="780,260,880,270" href="/Cat/B61XuLyMauCat" alt="B61XuLyMauCat">
              <area shape="rect" coords="780,280,880,290" href="/Cat/B61CatThe" alt="B61CatThe">

              

        </map>

    </div>
</div>