<div class="row">
    <div class="col-md-12 col-sm-12">
        <img id="img_ID" src="/images/cat/SDQTCatLinning_29092022.jpg" width="100%" height="800px" alt="Planets" usemap="#map" >
        <map id="map_ID" name="map">
            <!-- Cat Linning khoi dong may -->
            <area shape="rect" coords="20,100,180,280" href="/Cat/CatLinningKhoiDongMay" alt="CatLinningKhoiDongMay">
            <!-- CatLinningChuanBiVai -->
            <area shape="rect" coords="220,100,380,280" href="/Cat/CatLinningChuanBiVai" alt="CatLinningChuanBiVai">
            <!-- CatLinningCHCGeminiCad -->
            <area shape="rect" coords="420,205,680,215" href="/Cat/CatLinningCHCGeminiCad" alt="CatLinningCHCGeminiCad">
            <!-- CatLinningCHCWacoalCad -->
            <area shape="rect" coords="420,220,680,230" href="/Cat/CatLinningCHCWacoalCad" alt="CatLinningCHCWacoalCad">

            <area shape="rect" coords="720,100,880,280" href="/Cat/CatLinningCat" alt="CatLinningCat">
              <!-- BocTapPhanMauCatLinning -->
              <area shape="rect" coords="920,100,1080,280" href="/Cat/BocTapPhanMauCatLinning" alt="BocTapPhanMauCatLinning">

        </map>

    </div>
</div>