<div class="row">
    <div class="col-md-12 col-sm-12">
        
        <img id="img_ID" src="/images/cat/SDQTCatLinning_11122024.png" width="100%" height="800px" alt="Planets" usemap="#map" >

        <!-- SDQTCatLinning_09032023 -->
        <map id="map_ID" name="map">
            <!-- Cat Linning khoi dong may -->
            <area shape="rect" coords="50,120,200,270" href="/Cat/CatLinningKhoiDongMay" alt="CatLinningKhoiDongMay">
            <!-- CatLinningChuanBiVai -->
            <area shape="rect" coords="250,120,400,270" href="/Cat/CatLinningChuanBiVai" alt="CatLinningChuanBiVai">
            <!-- CatLinningCHCGeminiCad -->
            <area shape="rect" coords="520,210,600,220" href="/Cat/CatLinningCHCGeminiCad" alt="CatLinningCHCGeminiCad">
            <!-- CatLinningCHCWacoalCad -->
            <area shape="rect" coords="520,230,600,240" href="/Cat/CatLinningCHCWacoalCad" alt="CatLinningCHCWacoalCad">

            <area shape="rect" coords="750,120,900,270" href="/Cat/CatLinningCat" alt="CatLinningCat">
              <!-- BocTapPhanMauCatLinning -->
              <area shape="rect" coords="950,120,1100,270" href="/Cat/BocTapPhanMauCatLinning" alt="BocTapPhanMauCatLinning">

              <area shape="rect" coords="1170,120,1320,270" href="/Cat/B6KiemHangChiaSoLuongGiaoHang" alt="B6KiemHangChiaSoLuongGiaoHang">

              <area shape="rect" coords="1170,410,1320,420" href="/Cat/B61XuLyMauCat" alt="B61XuLyMauCat">
              <area shape="rect" coords="1170,430,1320,440" href="/Cat/B61CatThe" alt="B61CatThe">

              <area shape="rect" coords="1370,120,1520,270" href="/Cat/B7ChamDau" alt="B7ChamDau">


              <area shape="rect" coords="1570,120,1720,270" href="/Cat/CatLinning_DayVaoKhuVucGiaoHang" alt="CatLinning_DayVaoKhuVucGiaoHang">

              <area shape="rect" coords="750,350,900,500" href="/Cat/CatLinningSDQT_B4_1" alt="CatLinningSDQT_B4_1">



        </map>

    </div>
</div>