<div class="row">
    <div class="col-md-12 col-sm-12">
        <img id="img_ID" src="/images/cat/LuuDoQuyTrinhCad_28102022.jpg" width="100%" height="800px" alt="Planets" usemap="#map" >
        <map id="map_ID" name="map">
            <area shape="rect" coords="40,80,120,150" href="/Cat/LamBangHDGiacSD" alt="LamBangHDGiacSD">

            <area shape="rect" coords="150,115,250,120" href="/Cat/CadCaiDatDuLieuMoiWacoalCad" alt="CadCaiDatDuLieuMoiWacoalCad">

            <area shape="rect" coords="150,125,250,130" href="/Cat/CadCaiDatDuLieuMoiGemini" alt="CadCaiDatDuLieuMoiGemini">

            <area shape="rect" coords="40,240,120,340" href="/Cat/GhiChiThiGiacSoDo" alt="GhiChiThiGiacSoDo">

            <!-- GiacSoDoKTDMGeminiWacoalCad -->
            <area shape="rect" coords="150,280,300,290" href="/Cat/GiacSoDoKTDMWacoalCad" alt="GiacSoDoKTDMGeminiWacoalCad">

            <!-- GiacSoDoKTDMGemini -->
            <area shape="rect" coords="150,295,300,305" href="/Cat/GiacSoDoKTDMGemini" alt="GiacSoDoKTDMGemini">

            <!-- InSoDoWacoalCad -->
            <area shape="rect" coords="330,280,480,290" href="/Cat/InSoDoWacoalCad" alt="InSoDoWacoalCad">

            <!-- INSODOGEMINI_16122022 -->

            <area shape="rect" coords="330,295,480,305" href="/Cat/InSoDoGemini" alt="InSoDoGemini">

            <!-- CatSoDoToMauBangTienDoGiacSoDoGiaoXeSoDo -->
            <area shape="rect" coords="500,240,590,340" href="/Cat/CatSoDoToMauBangTienDoGiacSoDoGiaoXeSoDo" alt="CatSoDoToMauBangTienDoGiacSoDoGiaoXeSoDo">



            



        </map>

    </div>
</div>