<div class="row">
    <div class="col-md-12 col-sm-12">
        <img id="img_ID" src="/images/cat/SDTCCatImage.png" width="100%" height="600px" alt="Planets" usemap="#map" >
        <map id="map_ID" name="map">
            <!-- <area shape="rect" coords="260,260,430,310" href="/huyorder" alt="huyOrder"> -->
            <area shape="rect" coords="0,560,150,630" href="/Cat/LLKHCard" alt="LLKHCard">
            <area shape="rect" coords="200,560,330,630" href="/Cat/TDLCard" alt="TDLCard">
            <area shape="rect" coords="380,530,530,650" href="/Cat/CatMasterPattern" alt="CatMasterPattern">
            <area shape="rect" coords="580,560,730,630" href="/Cat/GKT" alt="GKT">
            <!-- nhan nguyen lieu -->
            <area shape="rect" coords="380,320,530,490" href="/Cat/NhanNguyenLieu" alt="NhanNguyenLieu">

            <!-- Xa Vai -->
            <area shape="rect" coords="570,320,720,490" href="/Cat/XaVai" alt="XaVai">

            <!-- trai vai -->
            <area shape="rect" coords="760,400,910,410" href="/Cat/traivai" alt="traivai">

            <!-- Trai linning -->
            <area shape="rect" coords="760,420,910,430" href="/Cat/TraiLinning" alt="TraiLinning">


            <!-- trai vai hem panel -->
            <area shape="rect" coords="760,440,910,460" href="/Cat/TraiVaiHemPanel" alt="NhanNguyenLieu">

            <!-- SDQTCatVai -->
            <area shape="rect" coords="950,390,1100,400" href="/Cat/SDQTCatVai" alt="SDQTCatVai">

            <!-- CatLinningSDQT -->
            <area shape="rect" coords="950,430,1100,440" href="/Cat/CatLinningSDQT" alt="CatLinningSDQT">

            <!-- So do cat ren -->
            <area shape="rect" coords="950,450,1100,460" href="/Cat/SDQTCatRen" alt="SDQTCatRen">

            <area shape="rect" coords="950,470,1100,480" href="/Cat/HemPanel" alt="HemPanel">

            <!-- QTGIAOCHUYEN -->
            <area shape="rect" coords="1140,320,1280,490" href="/Cat/QTGIAOCHUYEN" alt="QTGIAOCHUYEN">


        </map>

    </div>
</div>