<div class="row">
    <div class="col-md-12 col-sm-12">
        <img id="img_ID" src="/images/cat/SDQTVai_11122024.png" width="100%" height="750px" alt="Planets" usemap="#map" >

        <!-- SDQTVai_16092022  -->
        <map id="map" name="map">
            <!-- KhoiDongMay -->
            <area shape="rect" coords="50,120,200,270" href="/cat/KhoiDongMay" alt="KhoiDongMay">
            <!-- Chuan bi ban vai -->
            <area shape="rect" coords="250,120,400,270" href="/cat/ChuanBiBanVai" alt="ChuanBiBanVai">
            <!-- CatVai_ChinhHuongCat_GeMiNi_16092022 -->
            <area shape="rect" coords="520,210,600,220" href="/cat/CatVaiChinhHuongCatGeMiNi" alt="CatVaiChinhHuongCatGeMiNi">

            <!-- chinh huong cat wacoal card -->
            <area shape="rect" coords="520,230,600,240" href="/cat/CatVaiChinhHuongCatWacoalCard" alt="CatVaiChinhHuongCatWacoalCard">

            <area shape="rect" coords="750,120,900,270" href="/cat/CatVai" alt="CatVai">

            <area shape="rect" coords="950,120,1100,270" href="/cat/BocTapPhanMauVai" alt="BocTapPhanMauVai">

            <area shape="rect" coords="1170,120,1320,270" href="/cat/KiemHangChiaSoLuong" alt="KiemHangChiaSoLuong">

            <area shape="rect" coords="1370,120,1520,270" href="/cat/VaiGiaoHang" alt="VaiGiaoHang">

            <area shape="rect" coords="1170,410,1320,430" href="/cat/B61KiemXuLyMauCatMepHem" alt="B61KiemXuLyMauCatMepHem">

            <area shape="rect" coords="1170,440,1320,450" href="/cat/B61DownSize" alt="B61DownSize">

            <area shape="rect" coords="1170,460,1320,470" href="/cat/CatThe" alt="CatThe">

            <area shape="rect" coords="750,350,900,500" href="/cat/SDQTVai_B4_1" alt="SDQTVai_B4_1">

            

            
            


          

           

    
            

        </map>

    </div>
</div>