<div class="row">
    <div class="col-md-12 col-sm-12">
        <img id="img_ID" src="/images/cat/SDQTVai_16092022.jpg" width="100%" height="600px" alt="Planets" usemap="#map" >
        <map id="map" name="map">
            <!-- KhoiDongMay -->
            <area shape="rect" coords="20,70,130,180" href="/cat/KhoiDongMay" alt="KhoiDongMay">
            <!-- Chuan bi ban vai -->
            <area shape="rect" coords="170,70,270,180" href="/cat/ChuanBiBanVai" alt="ChuanBiBanVai">
            <!-- CatVai_ChinhHuongCat_GeMiNi_16092022 -->
            <area shape="rect" coords="310,130,470,135" href="/cat/CatVaiChinhHuongCatGeMiNi" alt="CatVaiChinhHuongCatGeMiNi">

            <!-- chinh huong cat wacoal card -->
            <area shape="rect" coords="310,140,470,150" href="/cat/CatVaiChinhHuongCatWacoalCard" alt="CatVaiChinhHuongCatWacoalCard">

            
            


          

           

    
            

        </map>

    </div>
</div>