<div class="row">
  <div class="col-md-12 col-sm-12">
    <img id="img_ID" src="/images/cat/SDQTCatRenImage_22112023.jpg" width="100%" height="80%" alt="Planets"
      usemap="#map">
      <!-- SDQTCatRenImage_06022023 -->
    <map id="map" name="map">

      <!-- LIENLACKHACHHANGXULY_RV -->
      <area shape="rect" coords="320,50,450,160" href="/cat/LIENLACKHACHHANGXULY_RV" alt="LIENLACKHACHHANGXULY_RV">

      <area shape="rect" coords="40,180,150,280" href="/cat/NHANRENSENPATSU" alt="NHANRENSENPATSU">

      <area shape="rect" coords="200,180,280,280" href="/cat/THAOXEPREN_HANGSENPATSU" alt="THAOXEPREN_HANGSENPATSU">

      <area shape="rect" coords="320,180,450,280" href="/cat/GIACSODODINHMUCTUNGSIZE" alt="GIACSODODINHMUCTUNGSIZE">

      <area shape="rect" coords="490,180,580,280" href="/cat/LAMBANGHUONGDANCATREN" alt="LAMBANGHUONGDANCATREN">

      <area shape="rect" coords="620,180,710,280" href="/cat/REN_LAMMAQRCHOBANGHUONGDANCATRENVASODODM" alt="REN_LAMMAQRCHOBANGHUONGDANCATRENVASODODM">


      <area shape="rect" coords="750,180,850,280" href="/cat/CAT_VA_KIEM_TRA_MC_VOI_PATTERN">

      <area shape="rect" coords="900,180,1000,280" href="/cat/GIAOKYTHUAT" alt="GIAOKYTHUAT">

<!-- 2 -->
      <area shape="rect" coords="40,340,150,450" href="/cat/PhanCongCongViecCatRen" alt="PhanCongCongViecCatRen">

      <area shape="rect" coords="200,340,280,450" href="/cat/NHAN_XEPREN_MHLL" alt="THAOXEPREN_HANGSENPATSU">

      <area shape="rect" coords="320,340,430,450" href="/cat/KTDMTungSizeSoVoiSLOrder" alt="KTDMTungSizeSoVoiSLOrder">

      <area shape="rect" coords="470,340,580,450" href="/cat/LamDaoCatRen" alt="LamDaoCatRen">

      <area shape="rect" coords="620,340,730,450" href="/cat/Ren_CatTheoBangHuongDanVaKiemTraMauCat" alt="Ren_CatTheoBangHuongDanVaKiemTraMauCat">

      <area shape="rect" coords="770,340,880,450" href="/cat/RenCotHangKiemMaHangSizeSLDongMocGiayGian" alt="RenCotHangKiemMaHangSizeSLDongMocGiayGian">

      <area shape="rect" coords="920,340,1020,450" href="/cat/RenDayHangVaoKhuVucGiaoChuyen" alt="RenDayHangVaoKhuVucGiaoChuyen">

      <area shape="rect" coords="320,480,430,580" href="/cat/LIENLACKHACHHANGXULY_RV" alt="LIENLACKHACHHANGXULY_RV">

      <area shape="rect" coords="770,480,880,580" href="/cat/RenXuLyMauCat" alt="RenXuLyMauCat">










     




    </map>

  </div>
</div>