<div class="row">
    <div class="col-md-12 col-sm-12">
        <img id="img_ID" src="/images/cat/SDQTVai.png" width="100%" height="600px" alt="Planets" usemap="#map" >
        <map id="map" name="map">
            <!-- KhoiDongMay -->
            <area shape="rect" coords="40,70,130,160" href="/cat/KhoiDongMay" alt="KhoiDongMay">
            <!-- Chuan bi ban vai -->
            <area shape="rect" coords="170,70,260,160" href="/cat/ChuanBiBanVai" alt="ChuanBiBanVai">


            
            


          

           

    
            

        </map>

    </div>
</div>