<div class="row">
  <div class="col-md-12 col-sm-12">
    <img id="img_ID" src="/images/cat/SDQTCatRenImage_06022023.jpg" width="100%" height="90%" alt="Planets"
      usemap="#map">
    <map id="map" name="map">

      <!-- LIENLACKHACHHANGXULY_RV -->
      <area shape="rect" coords="360,50,490,160" href="/cat/LIENLACKHACHHANGXULY_RV" alt="LIENLACKHACHHANGXULY_RV">
      <!-- GIACSODODINHMUCTUNGSIZE -->
      <area shape="rect" coords="360,190,490,310" href="/cat/GIACSODODINHMUCTUNGSIZE" alt="GIACSODODINHMUCTUNGSIZE">

      <area shape="rect" coords="40,190,160,310" href="/cat/NHANRENSENPATSU" alt="NHANRENSENPATSU">
      <!-- THAOXEPREN_HANGSENPATSU -->
      <area shape="rect" coords="200,190,320,310" href="/cat/THAOXEPREN_HANGSENPATSU" alt="THAOXEPREN_HANGSENPATSU">



      <!-- LAMBANGHUONGDANCATREN -->
      <area shape="rect" coords="520,190,640,310" href="/cat/LAMBANGHUONGDANCATREN" alt="LAMBANGHUONGDANCATREN">
      <!-- CAT_VA_KIEM_TRA_MC_VOI_PATTERN -->
      <area shape="rect" coords="680,190,800,310" href="/cat/CAT_VA_KIEM_TRA_MC_VOI_PATTERN"
        alt="CAT_VA_KIEM_TRA_MC_VOI_PATTERN">
      <!-- GIAOKYTHUAT -->
      <area shape="rect" coords="850,190,950,310" href="/cat/GIAOKYTHUAT" alt="GIAOKYTHUAT">

      <!-- doi voi ma hang lap lai va ma hang da cat mau -->
      <!-- PhanCongCongViecCatRen -->
      <area shape="rect" coords="40,380,160,500" href="/cat/PhanCongCongViecCatRen" alt="PhanCongCongViecCatRen">
      <!-- NHAN_XEPREN_MHLL -->
      <area shape="rect" coords="200,380,320,500" href="/cat/NHAN_XEPREN_MHLL" alt="THAOXEPREN_HANGSENPATSU">

      <!-- LIENLACKHACHHANGXULY_RV -->
      <area shape="rect" coords="360,380,470,500" href="/cat/KTDMTungSizeSoVoiSLOrder" alt="KTDMTungSizeSoVoiSLOrder">

      <!-- LamDaoCatRen -->
      <area shape="rect" coords="530,380,640,500" href="/cat/LamDaoCatRen" alt="LamDaoCatRen">

      <!-- LIENLACKHACHHANGXULY_RV -->
      <area shape="rect" coords="360,530,470,650" href="/cat/LIENLACKHACHHANGXULY_RV" alt="LIENLACKHACHHANGXULY_RV">

      <area shape="rect" coords="690,380,800,500" href="/cat/Ren_CatTheoBangHuongDanVaKiemTraMauCat"
        alt="Ren_CatTheoBangHuongDanVaKiemTraMauCat">

      <area shape="rect" coords="850,380,960,500" href="/cat/RenCotHangKiemMaHangSizeSLDongMocGiayGian"
        alt="RenCotHangKiemMaHangSizeSLDongMocGiayGian">

      <area shape="rect" coords="1010,380,1120,500" href="/cat/RenDayHangVaoKhuVucGiaoChuyen"
        alt="RenDayHangVaoKhuVucGiaoChuyen">

      <area shape="rect" coords="850,520,960,640" href="/cat/RenXuLyMauCat" alt="RenXuLyMauCat">
    </map>

  </div>
</div>