<div class="row">
    <div class="col-md-12 col-sm-12">
        <img id="img_ID" src="/images/cat/SDQTCatRenImage.png" width="100%" height="600px" alt="Planets" usemap="#map" >
        <map id="map" name="map">
            <area shape="rect" coords="40,170,160,290" href="/cat/NHANRENSENPATSU" alt="NHANRENSENPATSU">
            <!-- THAOXEPREN_HANGSENPATSU -->
            <area shape="rect" coords="200,170,320,290" href="/cat/THAOXEPREN_HANGSENPATSU" alt="THAOXEPREN_HANGSENPATSU">
            <!-- GIACSODODINHMUCTUNGSIZE -->
            <area shape="rect" coords="360,170,510,290" href="/cat/GIACSODODINHMUCTUNGSIZE" alt="GIACSODODINHMUCTUNGSIZE">
            <!-- LIENLACKHACHHANGXULY_RV -->
            <area shape="rect" coords="360,50,510,160" href="/cat/LIENLACKHACHHANGXULY_RV" alt="LIENLACKHACHHANGXULY_RV">

            <!-- LAMBANGHUONGDANCATREN -->
            <area shape="rect" coords="550,170,670,290" href="/cat/LAMBANGHUONGDANCATREN" alt="LAMBANGHUONGDANCATREN">
            <!-- CAT_VA_KIEM_TRA_MC_VOI_PATTERN -->
            <area shape="rect" coords="710,170,830,290" href="/cat/CAT_VA_KIEM_TRA_MC_VOI_PATTERN" alt="CAT_VA_KIEM_TRA_MC_VOI_PATTERN">
            <!-- GIAOKYTHUAT -->
            <area shape="rect" coords="880,170,1000,290" href="/cat/GIAOKYTHUAT" alt="GIAOKYTHUAT">
            <!-- NHAN_XEPREN_MHLL -->
            <area shape="rect" coords="200,340,320,470" href="/cat/NHAN_XEPREN_MHLL" alt="THAOXEPREN_HANGSENPATSU">
            <!-- LIENLACKHACHHANGXULY_RV -->
            <area shape="rect" coords="360,500,510,600" href="/cat/LIENLACKHACHHANGXULY_RV" alt="GIACSODODINHMUCTUNGSIZE">

            <!-- LIENLACKHACHHANGXULY_RV -->
            <area shape="rect" coords="360,340,510,470" href="/cat/KTDMTungSizeSoVoiSLOrder" alt="KTDMTungSizeSoVoiSLOrder">

            

        </map>

    </div>
</div>