<div class="row">
    <div class="col-md-12 col-sm-12">
        <img id="img_ID" src="/images/cat/SDTraiVai_07102022.jpg" width="100%" height="800px" alt="Planets" usemap="#map" >
        <map id="map_ID" name="map">
            <area shape="rect" coords="30,90,200,190" href="/cat/QtXacDinhGioXaNLMoi" alt="QtXacDinhGioXaNLMoi">
            <area shape="rect" coords="250,90,420,190" href="/cat/ChuanBiTruocKhiTraiVai" alt="ChuanBiTruocKhiTraiVai">
            <area shape="rect" coords="470,90,650,190" href="/cat/TraiVai" alt="TraiVai">
            <area shape="rect" coords="680,90,890,190" href="/cat/KiemTraXuLyBanVai" alt="KiemTraXuLyBanVai">
        </map>

    </div>
</div>