<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <!-- <div class="x_title"> -->
                <!-- <h2>B4: In tem QR không có chi tiết trên PL và dán tem vào cuộn vải) của lưu đồ Quản lý nguyên vật liệu:
                </h2> -->
                <!-- <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul> -->
                <!-- <div class="clearfix"></div> -->
            <!-- </div> -->

            <div class="x_content" id="xcontentid">
                <img id="img_ID" src="/images/kho/QTQLNVL_B13_31122024.png" width="100%" height="700px" alt="Planets" usemap="#map" >
                <!-- QTQLNVL_ITQRKCCTTPLVDTVCV_15112024 -->
                <map id="map_ID" name="map">

                    <area shape="rect" coords="50,70,650,100" href="/kho/QTQLNVL_B13_1" alt="QTQLNVL_B13_1">
                    <area shape="rect" coords="50,120,650,150" href="/kho/QTQLNVL_B13_2" alt="QTQLNVL_B13_2">

             



                   

                </map>
             
            </div>
        </div>
      

    </div>
</div>
