<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <!-- <div class="x_title">
                <h2>Quy Trình Soạn Hàng Nguyên Liệu</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
            </div> -->

            <div class="x_content" id="xcontentid">
                <img id="img_ID" src="/images/kho/QTQLNVL_B8_QDGBNL_05122024_04032025.png" width="100%" height="700px" alt="Planets" usemap="#map" >
                <!-- QTQLNVL_B8_QDGBNL_05122024 -->
                <!-- QTQLNVL_B8_NL_30072024 -->
      
                <map id="map_ID" name="map">
                    <area shape="rect" coords="40,80,1000,110" href="/kho/QTQLNVL_B8_QDGBNL_TH1" alt="QTQLNVL_B8_QDGBNL_TH1">
                    <area shape="rect" coords="40,130,1000,160" href="/kho/QTQLNVL_B8_QDGBNL_TH2" alt="QTQLNVL_B8_QDGBNL_TH2">
                    <area shape="rect" coords="40,180,1000,240" href="/kho/QTQLNVL_B8_QDGBNL_TH3" alt="QTQLNVL_B8_QDGBNL_TH3">
                    <area shape="rect" coords="40,260,1000,280" href="/kho/QTQLNVL_B8_QDGBNL_TH4" alt="QTQLNVL_B8_QDGBNL_TH4">
                    <area shape="rect" coords="40,290,1000,310" href="/kho/QTQLNVL_B8_QDGBNL_TH5" alt="QTQLNVL_B8_QDGBNL_TH5">

                   


                

                </map>
             
            </div>
        </div>
      

    </div>
</div>
