<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Quy Trình Soạn Hàng Nguyên Liệu</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content" id="xcontentid">
                <img id="img_ID" src="/images/kho/QTQLNVL_B8_NL_4B2_30072024.png" width="100%" height="700px" alt="Planets" usemap="#map" >
      
                <map id="map_ID" name="map">

                    <!-- <area shape="rect" coords="490,180,890,230" href="/kho/QTQLNVL_B5_NL_4A1" alt="QTQLNVL_B5_NL_4A1"> -->
                

                </map>
             
            </div>
        </div>
      

    </div>
</div>
