<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>QUY TRÌNH NHẬP & LƯU KHO BẰNG SMARTBIZ </h2>
               
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content" id="xcontentid">
                <img id="img_ID" src="/images/kho/QTQLNVLB3IIIB_22042024.png" width="100%" height="700px" alt="Planets" usemap="#map" >
             
                <map id="map_ID" name="map">

                    <!-- <area shape="rect" coords="80,110,200,140" href="/kho/QTQLNVLB3IA" alt="QTQLNVLB3IA">
                    <area shape="rect" coords="80,150,200,170" href="/kho/QTQLNVLB3IB" alt="QTQLNVLB3IB">

                    <area shape="rect" coords="80,250,200,270" href="/kho/QTQLNVLB3IIA" alt="QTQLNVLB3IIA">
                    <area shape="rect" coords="80,290,200,310" href="/kho/QTQLNVLB3IIB" alt="QTQLNVLB3IIB">

                    <area shape="rect" coords="80,390,250,410" href="/kho/QTQLNVLB3IIIA" alt="QTQLNVLB3IIIA">
                    <area shape="rect" coords="80,430,250,450" href="/kho/QTQLNVLB3IIIB" alt="QTQLNVLB3IIIB"> -->
      

                   
                </map>
             
            </div>
        </div>
      

    </div>
</div>
