<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- <h2>Quy Trình Quản Lý Nguyên Phụ Liệu</h2> -->
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content" id="xcontentid">
                <img id="img_ID" src="/images/kho/QTDC_I_1A_Image_10102023.png" width="100%" height="600px" alt="Planets" usemap="#map" >
                <map id="map_ID" name="map">

                    <area shape="rect" coords="120,290,280,370" href="/kho/NhanOrderTuKHSX" alt="NhanOrderTuKHSX">

                    <area shape="rect" coords="320,290,480,370" href="/kho/DoiVoiMaHangMoi" alt="DoiVoiMaHangMoi">

                    <area shape="rect" coords="520,290,680,370" href="/kho/YeuCauKiThuat" alt="YeuCauKiThuat">

                    <area shape="rect" coords="320,390,480,530" href="/kho/DoiVoiMaHangCuMauMoi" alt="DoiVoiMaHangCuMauMoi">

                    <area shape="rect" coords="720,290,880,370" href="/kho/YeuCauKyThuatDoCDCD_4" alt="YeuCauKyThuatDoCDCD_4">

                    <area shape="rect" coords="920,290,1100,370" href="/kho/TinhCDCD_5" alt="TinhCDCD_5">

                </map>
             
            </div>
        </div>
      

    </div>
</div>
