<div class="row">
    <div class="col-md-12 col-sm-12">
        <img id="img_ID" src="/images/KiThuat/QTKT.png" width="100%" height="600px" alt="Planets" usemap="#map" >
        <map id="map_ID" name="map">
            <area shape="rect" coords="20,50,100,120" href="/kithuat/XEM_TT_ORDER_KHSX_3M" alt="Xem thong tin order KHSX 3M">
            <area shape="rect" coords="140,50,220,120" href="/kithuat/DATNPL" alt="DATNPL">
            <area shape="rect" coords="250,50,330,120" href="/kithuat/NhanTLKT_Pattern_Mau_Dich" alt="NhanTLKT_Pattern_Mau_Dich">
            <area shape="rect" coords="370,50,440,120" href="/kithuat/GHICHU_NPL" alt="GHICHU_NPL">
            <area shape="rect" coords="470,50,550,120" href="/kithuat/LamBM_SWGD_HE_DoKichThuoc" alt="LamBM_SWGD_HE_DoKichThuoc">
            <!-- luu tai lieu ki thuat  -->
            <area shape="rect" coords="590,50,660,120" href="/kithuat/LuuTLTK" alt="LuuTLTK">

            <!-- cung cap TLKT -->
            <area shape="rect" coords="700,50,780,120" href="/kithuat/CungCapTLKT" alt="CungCapTLKT">

            <area shape="rect" coords="160,165,250,240" href="/kithuat/MAYMAU" alt="MAYMAU">
            <!-- xac nhan ket qua tu khach hang -->
            <area shape="rect" coords="270,165,370,240" href="/kithuat/XNKQTuKH" alt="XNKQTuKH">
      
        </map>

    </div>
</div>