<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Quy Trình Quản Lý Sản Xuất</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content" id="xcontentid">
                <!-- <embed id="embedPdfLoad"> -->
                <img src="/images/SanXuat/QTSXImage_17072024.png" width="100%" height="750px" alt="Planets" usemap="#map" >
                <map name="map" id="map">

                    <area shape="rect" coords="60,60,200,115" href="/SX/QTSXA" alt="QTSXA">

                    <area shape="rect" coords="60,130,200,180" href="/SX/QTSXB" alt="QTSXB">


                     <area shape="rect" coords="60,220,200,320" href="/SX/NhanOrderTam" alt="NhanOrderTam">
                     
                     <area shape="rect" coords="250,220,390,320" href="/SX/SepKHSXTam" alt="SepKHSXTam">
                     <area shape="rect" coords="440,220,580,320" href="/SX/XacNhanWideSCHE_DieuChinh" alt="XacNhanWideSCHE_DieuChinh">
                    
                     <area shape="rect" coords="620,220,760,320" href="/SX/NhanOrderChinhThuc" alt="NhanOrderChinhThuc">
            
                     <area shape="rect" coords="800,220,940,320" href="/SX/SepKHSXChinhThuc" alt="SepKHSXChinhThuc">

                      <area shape="rect" coords="60,360,200,470" href="/SX/HuyOrder" alt="HuyOrder">
                   
                     <area shape="rect" coords="250,360,380,480" href="/SX/XacNhanBaLance" alt="XacNhanBaLance">
                     <area shape="rect" coords="430,360,570,480" href="/SX/QLTDXH" alt="QLTDXH">

                     <area shape="rect" coords="650,440,685,460" href="/SX/PhatHanhKHSX" alt="PhatHanhKHSX">
                     <area shape="rect" coords="695,440,730,460" href="/SX/PhatHanhKHXH" alt="PhatHanhKHXH">
                     <area shape="rect" coords="800,360,940,480" href="/SX/LienLacKHKHX" alt="LienLacKHKHX">
                    
                     <area shape="rect" coords="280,590,320,610" href="/SX/SanXuatLai" alt="SanXuatLai">
                     <area shape="rect" coords="330,590,370,610" href="/SX/KHXHLai" alt="KHXHLai">
                </map>
            </div>
        </div>
        
       

    </div>
</div>