<div class="row">
    <div class="col-md-12 col-sm-12">
        <img src="/images/May/MayQTSXImage_16092022.jpg" width="100%" height="600px" alt="Planets" usemap="#planetmap" >
        <map name="planetmap" id="planetmap">
            <area shape="rect" coords="1070,40,1200,110" href="/May/NhanPLTuKho" alt="NhanPLTuKho"> -->


            <area shape="rect" coords="1310,40,1440,110" href="/May/GiaoNLTungCD" alt="GiaoNLTungCD"> -->
            
        </map>

    </div>
</div>